
div.css-14xtw13.e8zbici0{
visibility: hidden;

}

div.css-10pw50.egzxvld1{
visibility: hidden;
}

div.row-widget.stButton{
margin-left: 50px;
margin-top: 60px;
}

div.css-qcqlej.egzxvld3{
visibility: hidden;
}

